.add-items {
  background-color: $orange-primary;
  width: 100%;
  padding: 1.5rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    filter: brightness(0) invert(1);
    padding-right: 1rem;
    width: 10%;
  }
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
}
