header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .menu {
    transition: all 3.5ms ease-in-out;
    position: absolute;
    top: 0;
    left: -2000rem;
    width: 60%;
    background-color: $white;
    min-height: 100vh;
    z-index: 5;
    padding: 5rem 0rem 0rem 1rem;
    cursor: pointer;
    ul {
      list-style-type: none;
      li {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 26px;
        padding-bottom: 1rem;
        a {
          text-decoration: none;
          color: $heading-text-very-dark-blue;
        }
      }
    }
  }
  .left-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      padding-left: 1rem;
    }
    button {
      border: none;
      background-color: rgba($color: white, $alpha: 0);
      z-index: 10;
      cursor: pointer;
    }
  }
  .right-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .user-avatar {
      width: 25%;
    }
  }
}

.overlay {
  display: none;
  background-color: $black-lightboxbackground;
  filter: opacity(75%);
  position: absolute;
  min-height: 100vh;
  width: 100%;
  z-index: 2;
  transition: all 3.5ms ease-in-out;
}
