main {
  .image-preview {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    .carousel-container {
      height: 100%;
      position: relative;
      ul {
        display: flex;
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 350ms ease-in-out;
        li {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .next-btn,
    .prev-btn {
      border: 0;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .next-btn {
      right: 0;
      margin-right: 1rem;
    }
    .prev-btn {
      left: 0;
      margin-left: 1rem;
    }
  }
}
