.quantity {
  background-color: $background-input-light-grayish-blue;
  margin: 2rem 0 2rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0.5rem;
      background-color: rgba($color: white, $alpha: 0);
    }
    input {
      text-align: center;
      border: none;
      background-color: rgba($color: white, $alpha: 0);
    }
  }
}
