body {
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
}

body .orange-text {
  color: #ff7d1a;
}

body .very-dark-blue-text {
  color: #1d2025;
}

body .grayish-blue {
  color: #b6bcc8;
}

body .white-text {
  color: white;
}

body p {
  color: #68707d;
}

body h1 {
  font-size: 1.75rem;
  padding-bottom: 1.2rem;
}

body h4 {
  font-size: 0.75rem;
  padding: 1rem 0 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .container {
  padding: 0rem 1rem 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header .menu {
  position: absolute;
  top: 0;
  left: -2000rem;
  width: 60%;
  background-color: white;
  min-height: 100vh;
  z-index: 5;
  padding: 5rem 0rem 0rem 1rem;
  cursor: pointer;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

header .menu ul {
  list-style-type: none;
}

header .menu ul li {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 26px;
  padding-bottom: 1rem;
}

header .menu ul li a {
  text-decoration: none;
  color: #1d2025;
}

header .left-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left-align .logo {
  padding-left: 1rem;
}

header .left-align button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  cursor: pointer;
}

header .right-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right-align button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
}

header .right-align .user-avatar {
  width: 65%;
}

.overlay {
  display: none;
  background-color: black;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
  position: absolute;
  min-height: 100vh;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 3.5ms ease-in-out;
  transition: all 3.5ms ease-in-out;
}

main .image-preview {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

main .image-preview .carousel-container {
  height: 100%;
  position: relative;
}

main .image-preview .carousel-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

main .image-preview .carousel-container ul li {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

main .image-preview .carousel-container ul li img {
  min-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .image-preview button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .image-preview .next-btn,
main .image-preview .prev-btn {
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .image-preview .next-btn {
  right: 0;
  margin-right: 1rem;
}

main .image-preview .prev-btn {
  left: 0;
  margin-left: 1rem;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.price .left-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .left-align .discount {
  background-color: #ffede0;
  font-weight: 700;
  padding: 2px 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
}

.price .right-align p {
  font-weight: 700;
  text-decoration: line-through;
}

.quantity {
  background-color: #f7f8fd;
  margin: 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.quantity form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.quantity form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
}

.quantity form input {
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.add-items {
  background-color: #ff7d1a;
  width: 100%;
  padding: 1.5rem 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
}

.add-items img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  padding-right: 1rem;
  width: 10%;
}

main {
  position: relative;
}

main .shopping-cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .shopping-cart .cart-card {
  margin-top: 0.5rem;
  background: white;
  position: absolute;
  z-index: 2;
  border-radius: 0.5rem;
  width: 95%;
}

main .shopping-cart .cart-card h3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem;
}

main .shopping-cart .cart-card .divider-line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #b6bcc8;
  padding-top: 0.5rem;
}

main .shopping-cart .cart-card .cart-text {
  font-weight: 700;
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  display: none;
}

main .shopping-cart .cart-card .item-added {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .shopping-cart .cart-card .item-added .item-thumbnail {
  width: 20%;
  border-radius: 5px;
}

main .shopping-cart .cart-card .item-added .item-text-wrapper {
  padding: 0 0.5rem 0 0.5remx;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

main .shopping-cart .cart-card .item-added .item-text-wrapper .checkout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .shopping-cart .cart-card .item-added .item-text-wrapper #checkout-items {
  padding-right: 0.5rem;
}

main .shopping-cart .cart-card .item-added .item-text-wrapper #total-cost {
  font-weight: 700;
  color: #1d2025;
}

main .shopping-cart button {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff7d1a;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */